/* colors;

background: #fdfff1

greenlight #e1e9ba
greendark #a8bd82

bluelight #dceff3
bluedark #8db4ca

pinklight f5ddf1
pinkdark e5a6c0

brownlight #eee0c0
browndark #b17822

orange light
orange dark */

body {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: 2000px 1000px;
}

body,
.main-container,
.player-box,
.new-game-button,
.name-input,
.clear-storage-btn {
  color: #b17822;
  font-family: 'Amatic SC', cursive;
}

.main-container,
.player-box,
.win-box,
.name-form, 
.second-name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-container{
  height: 800px;
  justify-content: center;
}

p {
  width: 100%;
  height: 43%;
}

button,
.win-box, 
.name-form, 
.second-name-form,
.name-input,
.board-square {
  border-radius: 30px;
  border: none;
  outline: none;
}

.player-box {
  margin: 0px 70px 100px 70px;
}

.win-box {
  width: 200px;
  height: 300px;
  justify-content: center;
  background-color: #eee0c0;
}

  .win-count {
    width: 20px;
    height: 80px;
    font-size: 100px;
    padding-top: 100px;
    margin: 0px;
  }
  
  .wins {
    width: 60px;
    font-size: 40px;
  }

.game-board, 
form {
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around
}

form {
  background-color: #dceff3;
  color:#8db4ca;
  margin-bottom: 100px;
  font-size: 50px;
  justify-content: center;
}

.second-name-form {
background-color: #e1e9ba;
color:#a8bd82;
}

  .name-prompt{
    margin: 10px;
  }

  .name-input{
    width: 300px;
    height: 70px;
    padding:4px;
    font-size: 45px;
    text-indent: 10px;
    outline: none;
    text-align: center;
    margin: 50px;
  }

button {
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
}

button:active {
transform: translateY(3px)
}

.new-game-button, 
.play-btn, 
.second-play-btn,
.clear-storage-btn
{
  width: 200px;
  height: 80px;
  font-size: 30px;
  padding: 5px 20px 5px 20px;
  background-color: #eee0c0;
}

.play-btn {
  color: #dceff3;
  background-color:#8db4ca;
}

  .play-btn:hover {
    background-color: #6095b3;
  }

  .play-btn:active {
    background-color: #6095b3;
  }

.second-play-btn{
  background-color:#a8bd82;
  color: #e1e9ba;
}

  .second-play-btn:hover {
    background-color: #88994b;
  }

  .second-play-btn:active {
    background-color: #88994b;
  }

.new-game-button:hover{
  background-color: #cfb082;
}

.board-square {
  width: 120px;
  height: 120px;
  background-color: #dceff3;
}

  .board-square img{
    width: 80px;
    height: 80px;
  }

.turn-header,
.player-name{
  font-size: 64px;
  padding-top: 100px;
  margin: 10px;
}

.O {
  background-color: #e1e9ba;
}
  .O:hover {
  background-color: #e1e9ba;
  }

.X {
  background-color: #f5ddf1;
}

  .X:hover {
    background-color: #f5ddf1;
  }

.hidden {
  display: none;
}