/* colors;

background: #fdfff1

greenlight #e1e9ba
greendark #a8bd82

bluelight #dceff3
bluedark #8db4ca

pinklight f5ddf1
pinkdark e5a6c0

brownlight #eee0c0
browndark #b17822

orange light
orange dark */

body {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fdfff1;
}

body, .main-container, .player-box, .new-game-button {
  color: #b17822;
  font-family: 'Amatic SC', cursive;
}

.main-container,
.player-box,
.win-box,
.name-form, 
.second-name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-container{
  height: 800px;
  justify-content: center;
}

p {
  width: 100%;
  height: 43%;
}

.player-box {
  margin: 0px 70px 100px 70px;
}
button {
  cursor: pointer;
}

button,
.win-box, 
.name-form, 
.second-name-form,
.name-input,
.board-square {
  border-radius: 30px;
  border: none
}

.win-box {
  width: 200px;
  height: 300px;
  justify-content: center;
  background-color: #eee0c0;
}

.wins {
  width: 60px;
  font-size: 40px;
}

.game-board, .name-form, .second-name-form{
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around
}

.name-form, .second-name-form{
  background-color: #dceff3;
  color:#8db4ca;
  margin-bottom: 100px;
  font-size: 50px;
  justify-content: space-around;
}

.second-name-form {
  background-color: #e1e9ba;
  color:#a8bd82;
}

.name-prompt{
  margin: 10px;
}

.name-input {
  width: 300px;
  height: 70px;
}

.new-game-button, .play-btn, .second-play-btn{
  width: 200px;
  height: 80px;
  font-size: 30px;
  padding: 5px 20px 5px 20px;
  background-color: #eee0c0;
}

.play-btn, .second-play-btn{
  color: #dceff3;
  background-color:#8db4ca;
  font-family: 'Amatic SC', cursive;
  margin: 30px;
}

.second-play-btn{
  background-color:#a8bd82;
  color: #e1e9ba;
}

.board-square {
  width: 120px;
  height: 120px;
  background-color: #dceff3;
}

.board-square img{
  width: 80px;
  height: 80px;
}

.turn-header, .player-name{
  font-size: 56px;
  padding-top: 100px;
  margin: 10px;
}

.win-count {
  width: 20px;
  height: 80px;
  font-size: 100px;
  padding-top: 100px;
  margin: 0px;
}

.O {
  background-color: #e1e9ba;
}

.X {
  background-color: #f5ddf1;
}

.hidden {
  display: none;
}