$light-blue: #dceff3;
$med-blue: #8db4ca;
$dark-blue: #6095b3; 

$light-orange: #fedca8;
$med-orange: #e6af56; 
$dark-orange: #e29339;

$light-pink: #f5ddf1;
$med-pink: #e5a6c0;
$dark-pink: #c36a81;

$light-green: #e1e9ba; 
$med-green: #a8bd82;
$dark-green: #88994b;

$light-brown: #eee0c0;
$med-brown: #cfb082;
$dark-brown: #b17822;